<nav class="navbar navbar-expand-sm bg-light">
  <div class="container-fluid">
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link" href="/">Inicio</a>
        </li>
        <li class="nav-item">
          <a href="/contacto" class="nav-link">Contacto</a>
        </li>

        {{#if user}}
         
          <li class="nav-item">
            <a class="nav-link" href="login">tramite auditoria</a>
          </li>

          <li class="nav-item">
            <a class="nav-link" href="/users/settings">Modificar datos</a>
            </li>
          

        {{else}}
          <li class="nav-item">
            <a class="nav-link" href="/users/login">Loguearse</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/users/register">Registrarse</a>
          </li>
        {{/if}}
      </ul>
    </div>
  </div>
</nav>