<div class="sppb-addon sppb-addon-raw-html ">
	 <a href="/" class="text-center fw-bold">Volver al inicio</a>
	<h5 class="sppb-addon-title">Contactanos</h5>
	<div class="sppb-addon-content">
		<ul>
    <p>
        </p><p style="color:black; font-size:15px;margin-left:-20px;margin-top:20px"><strong>DIRECCIÓN: </strong>Sarmiento 440-CABA - CP 1041</p>       
        <p style="color:black; font-size:15px;margin-left:-20px;margin-top:10px"><strong>TELÉFONO: </strong><a href="tel:+54 11 5371 5754">+54 11 5371 5754</a></p>
        <p style="color:black; font-size:15px;margin-left:-20px;margin-top:10px"><strong>CORREOS ELECTRÓNICOS:</strong></p>
    <p></p>
    <li>
        General:
        <span id="cloake7f3be7fa0fc581e2f6cd1000617446d"><a href="mailto:infodas@rec.utn.edu.ar">infodas@rec.utn.edu.ar</a></span><script type="text/javascript">
				document.getElementById('cloake7f3be7fa0fc581e2f6cd1000617446d').innerHTML = '';
				var prefix = '&#109;a' + 'i&#108;' + '&#116;o';
				var path = 'hr' + 'ef' + '=';
				var addye7f3be7fa0fc581e2f6cd1000617446d = '&#105;nf&#111;d&#97;s' + '&#64;';
				addye7f3be7fa0fc581e2f6cd1000617446d = addye7f3be7fa0fc581e2f6cd1000617446d + 'r&#101;c' + '&#46;' + '&#117;tn' + '&#46;' + '&#101;d&#117;' + '&#46;' + '&#97;r';
				var addy_texte7f3be7fa0fc581e2f6cd1000617446d = '&#105;nf&#111;d&#97;s' + '&#64;' + 'r&#101;c' + '&#46;' + '&#117;tn' + '&#46;' + '&#101;d&#117;' + '&#46;' + '&#97;r';document.getElementById('cloake7f3be7fa0fc581e2f6cd1000617446d').innerHTML += '<a ' + path + '\'' + prefix + ':' + addye7f3be7fa0fc581e2f6cd1000617446d + '\'>'+addy_texte7f3be7fa0fc581e2f6cd1000617446d+'<\/a>';
		</script>
        
    </li>
    
    <li>
        Prestaciones:
        
        <span id="cloak93d3a0d3c455783b1ec7f15d7dc06995"><a href="mailto:prestacionesdasu@rec.utn.edu.ar">prestacionesdasu@rec.utn.edu.ar</a></span><script type="text/javascript">
				document.getElementById('cloak93d3a0d3c455783b1ec7f15d7dc06995').innerHTML = '';
				var prefix = '&#109;a' + 'i&#108;' + '&#116;o';
				var path = 'hr' + 'ef' + '=';
				var addy93d3a0d3c455783b1ec7f15d7dc06995 = 'pr&#101;st&#97;c&#105;&#111;n&#101;sd&#97;s&#117;' + '&#64;';
				addy93d3a0d3c455783b1ec7f15d7dc06995 = addy93d3a0d3c455783b1ec7f15d7dc06995 + 'r&#101;c' + '&#46;' + '&#117;tn' + '&#46;' + '&#101;d&#117;' + '&#46;' + '&#97;r';
				var addy_text93d3a0d3c455783b1ec7f15d7dc06995 = 'pr&#101;st&#97;c&#105;&#111;n&#101;sd&#97;s&#117;' + '&#64;' + 'r&#101;c' + '&#46;' + '&#117;tn' + '&#46;' + '&#101;d&#117;' + '&#46;' + '&#97;r';document.getElementById('cloak93d3a0d3c455783b1ec7f15d7dc06995').innerHTML += '<a ' + path + '\'' + prefix + ':' + addy93d3a0d3c455783b1ec7f15d7dc06995 + '\'>'+addy_text93d3a0d3c455783b1ec7f15d7dc06995+'<\/a>';
		</script>
        
    </li> 
    <li>Medicamentos:
        
        <span id="cloakadade2d28412199d8ebdbd77c8335c2d"><a href="mailto:medicamentos@rec.utn.edu.ar">medicamentos@rec.utn.edu.ar</a></span><script type="text/javascript">
				document.getElementById('cloakadade2d28412199d8ebdbd77c8335c2d').innerHTML = '';
				var prefix = '&#109;a' + 'i&#108;' + '&#116;o';
				var path = 'hr' + 'ef' + '=';
				var addyadade2d28412199d8ebdbd77c8335c2d = 'm&#101;d&#105;c&#97;m&#101;nt&#111;s' + '&#64;';
				addyadade2d28412199d8ebdbd77c8335c2d = addyadade2d28412199d8ebdbd77c8335c2d + 'r&#101;c' + '&#46;' + '&#117;tn' + '&#46;' + '&#101;d&#117;' + '&#46;' + '&#97;r';
				var addy_textadade2d28412199d8ebdbd77c8335c2d = 'm&#101;d&#105;c&#97;m&#101;nt&#111;s' + '&#64;' + 'r&#101;c' + '&#46;' + '&#117;tn' + '&#46;' + '&#101;d&#117;' + '&#46;' + '&#97;r';document.getElementById('cloakadade2d28412199d8ebdbd77c8335c2d').innerHTML += '<a ' + path + '\'' + prefix + ':' + addyadade2d28412199d8ebdbd77c8335c2d + '\'>'+addy_textadade2d28412199d8ebdbd77c8335c2d+'<\/a>';
		</script>
        
    </li>
    <li>
        Afiliaciones:
        
        <span id="cloakba09accaaee6d397e0a0d4a1767cb192"><a href="mailto:afiliacionesdasuten@rec.utn.edu.ar">afiliacionesdasuten@rec.utn.edu.ar</a></span><script type="text/javascript">
				document.getElementById('cloakba09accaaee6d397e0a0d4a1767cb192').innerHTML = '';
				var prefix = '&#109;a' + 'i&#108;' + '&#116;o';
				var path = 'hr' + 'ef' + '=';
				var addyba09accaaee6d397e0a0d4a1767cb192 = '&#97;f&#105;l&#105;&#97;c&#105;&#111;n&#101;sd&#97;s&#117;t&#101;n' + '&#64;';
				addyba09accaaee6d397e0a0d4a1767cb192 = addyba09accaaee6d397e0a0d4a1767cb192 + 'r&#101;c' + '&#46;' + '&#117;tn' + '&#46;' + '&#101;d&#117;' + '&#46;' + '&#97;r';
				var addy_textba09accaaee6d397e0a0d4a1767cb192 = '&#97;f&#105;l&#105;&#97;c&#105;&#111;n&#101;sd&#97;s&#117;t&#101;n' + '&#64;' + 'r&#101;c' + '&#46;' + '&#117;tn' + '&#46;' + '&#101;d&#117;' + '&#46;' + '&#97;r';document.getElementById('cloakba09accaaee6d397e0a0d4a1767cb192').innerHTML += '<a ' + path + '\'' + prefix + ':' + addyba09accaaee6d397e0a0d4a1767cb192 + '\'>'+addy_textba09accaaee6d397e0a0d4a1767cb192+'<\/a>';
		</script>
        
    </li>
    <li>
        Discapacidad:
        
        <span id="cloak26afe6e9eca8a93f47309f69e94bdcb5"><a href="mailto:discapacidadesdasuten@rec.utn.edu.ar">discapacidadesdasuten@rec.utn.edu.ar</a></span><script type="text/javascript">
				document.getElementById('cloak26afe6e9eca8a93f47309f69e94bdcb5').innerHTML = '';
				var prefix = '&#109;a' + 'i&#108;' + '&#116;o';
				var path = 'hr' + 'ef' + '=';
				var addy26afe6e9eca8a93f47309f69e94bdcb5 = 'd&#105;sc&#97;p&#97;c&#105;d&#97;d&#101;sd&#97;s&#117;t&#101;n' + '&#64;';
				addy26afe6e9eca8a93f47309f69e94bdcb5 = addy26afe6e9eca8a93f47309f69e94bdcb5 + 'r&#101;c' + '&#46;' + '&#117;tn' + '&#46;' + '&#101;d&#117;' + '&#46;' + '&#97;r';
				var addy_text26afe6e9eca8a93f47309f69e94bdcb5 = 'd&#105;sc&#97;p&#97;c&#105;d&#97;d&#101;sd&#97;s&#117;t&#101;n' + '&#64;' + 'r&#101;c' + '&#46;' + '&#117;tn' + '&#46;' + '&#101;d&#117;' + '&#46;' + '&#97;r';document.getElementById('cloak26afe6e9eca8a93f47309f69e94bdcb5').innerHTML += '<a ' + path + '\'' + prefix + ':' + addy26afe6e9eca8a93f47309f69e94bdcb5 + '\'>'+addy_text26afe6e9eca8a93f47309f69e94bdcb5+'<\/a>';
		</script>
        
    </li>
    <li>
        Facturación:
        
        <span id="cloak6f3f3207f792886199fc03bfc751b084"><a href="mailto:facturaciondasuten@rec.utn.edu.ar">facturaciondasuten@rec.utn.edu.ar</a></span><script type="text/javascript">
				document.getElementById('cloak6f3f3207f792886199fc03bfc751b084').innerHTML = '';
				var prefix = '&#109;a' + 'i&#108;' + '&#116;o';
				var path = 'hr' + 'ef' + '=';
				var addy6f3f3207f792886199fc03bfc751b084 = 'f&#97;ct&#117;r&#97;c&#105;&#111;nd&#97;s&#117;t&#101;n' + '&#64;';
				addy6f3f3207f792886199fc03bfc751b084 = addy6f3f3207f792886199fc03bfc751b084 + 'r&#101;c' + '&#46;' + '&#117;tn' + '&#46;' + '&#101;d&#117;' + '&#46;' + '&#97;r';
				var addy_text6f3f3207f792886199fc03bfc751b084 = 'f&#97;ct&#117;r&#97;c&#105;&#111;nd&#97;s&#117;t&#101;n' + '&#64;' + 'r&#101;c' + '&#46;' + '&#117;tn' + '&#46;' + '&#101;d&#117;' + '&#46;' + '&#97;r';document.getElementById('cloak6f3f3207f792886199fc03bfc751b084').innerHTML += '<a ' + path + '\'' + prefix + ':' + addy6f3f3207f792886199fc03bfc751b084 + '\'>'+addy_text6f3f3207f792886199fc03bfc751b084+'<\/a>';
		</script>
        <br>
        <span id="cloak6df876b45cce05a6309fd5f84fd1f084"><a href="mailto:facturasonline@rec.utn.edu.ar">facturasonline@rec.utn.edu.ar</a></span><script type="text/javascript">
				document.getElementById('cloak6df876b45cce05a6309fd5f84fd1f084').innerHTML = '';
				var prefix = '&#109;a' + 'i&#108;' + '&#116;o';
				var path = 'hr' + 'ef' + '=';
				var addy6df876b45cce05a6309fd5f84fd1f084 = 'f&#97;ct&#117;r&#97;s&#111;nl&#105;n&#101;' + '&#64;';
				addy6df876b45cce05a6309fd5f84fd1f084 = addy6df876b45cce05a6309fd5f84fd1f084 + 'r&#101;c' + '&#46;' + '&#117;tn' + '&#46;' + '&#101;d&#117;' + '&#46;' + '&#97;r';
				var addy_text6df876b45cce05a6309fd5f84fd1f084 = 'f&#97;ct&#117;r&#97;s&#111;nl&#105;n&#101;' + '&#64;' + 'r&#101;c' + '&#46;' + '&#117;tn' + '&#46;' + '&#101;d&#117;' + '&#46;' + '&#97;r';document.getElementById('cloak6df876b45cce05a6309fd5f84fd1f084').innerHTML += '<a ' + path + '\'' + prefix + ':' + addy6df876b45cce05a6309fd5f84fd1f084 + '\'>'+addy_text6df876b45cce05a6309fd5f84fd1f084+'<\/a>';
		</script>
        
    </li>
    <li>
        Tesorería:
        
        <span id="cloak985de8cd8b6f2b545cc24a5f86f625bd"><a href="mailto:tesoreriadasuten@rec.utn.edu.ar">tesoreriadasuten@rec.utn.edu.ar</a></span><script type="text/javascript">
				document.getElementById('cloak985de8cd8b6f2b545cc24a5f86f625bd').innerHTML = '';
				var prefix = '&#109;a' + 'i&#108;' + '&#116;o';
				var path = 'hr' + 'ef' + '=';
				var addy985de8cd8b6f2b545cc24a5f86f625bd = 't&#101;s&#111;r&#101;r&#105;&#97;d&#97;s&#117;t&#101;n' + '&#64;';
				addy985de8cd8b6f2b545cc24a5f86f625bd = addy985de8cd8b6f2b545cc24a5f86f625bd + 'r&#101;c' + '&#46;' + '&#117;tn' + '&#46;' + '&#101;d&#117;' + '&#46;' + '&#97;r';
				var addy_text985de8cd8b6f2b545cc24a5f86f625bd = 't&#101;s&#111;r&#101;r&#105;&#97;d&#97;s&#117;t&#101;n' + '&#64;' + 'r&#101;c' + '&#46;' + '&#117;tn' + '&#46;' + '&#101;d&#117;' + '&#46;' + '&#97;r';document.getElementById('cloak985de8cd8b6f2b545cc24a5f86f625bd').innerHTML += '<a ' + path + '\'' + prefix + ':' + addy985de8cd8b6f2b545cc24a5f86f625bd + '\'>'+addy_text985de8cd8b6f2b545cc24a5f86f625bd+'<\/a>';
		</script>
        
    </li>
<li>
        Convenios:
        
        <span id="cloak80b1f3f7a1bde9fd59483011f554cee9"><a href="mailto:conveniosdasuten@rec.utn.edu.ar">conveniosdasuten@rec.utn.edu.ar</a></span><script type="text/javascript">
				document.getElementById('cloak80b1f3f7a1bde9fd59483011f554cee9').innerHTML = '';
				var prefix = '&#109;a' + 'i&#108;' + '&#116;o';
				var path = 'hr' + 'ef' + '=';
				var addy80b1f3f7a1bde9fd59483011f554cee9 = 'c&#111;nv&#101;n&#105;&#111;sd&#97;s&#117;t&#101;n' + '&#64;';
				addy80b1f3f7a1bde9fd59483011f554cee9 = addy80b1f3f7a1bde9fd59483011f554cee9 + 'r&#101;c' + '&#46;' + '&#117;tn' + '&#46;' + '&#101;d&#117;' + '&#46;' + '&#97;r';
				var addy_text80b1f3f7a1bde9fd59483011f554cee9 = 'c&#111;nv&#101;n&#105;&#111;sd&#97;s&#117;t&#101;n' + '&#64;' + 'r&#101;c' + '&#46;' + '&#117;tn' + '&#46;' + '&#101;d&#117;' + '&#46;' + '&#97;r';document.getElementById('cloak80b1f3f7a1bde9fd59483011f554cee9').innerHTML += '<a ' + path + '\'' + prefix + ':' + addy80b1f3f7a1bde9fd59483011f554cee9 + '\'>'+addy_text80b1f3f7a1bde9fd59483011f554cee9+'<\/a>';
		</script>
        
    </li>
 <li>
    Presidencia: 
    
    <span id="cloak9d16f4947db1e827c262c20212bb9e11"><a href="mailto:presidenciadasuten@rec.utn.edu.ar">presidenciadasuten@rec.utn.edu.ar</a></span><script type="text/javascript">
				document.getElementById('cloak9d16f4947db1e827c262c20212bb9e11').innerHTML = '';
				var prefix = '&#109;a' + 'i&#108;' + '&#116;o';
				var path = 'hr' + 'ef' + '=';
				var addy9d16f4947db1e827c262c20212bb9e11 = 'pr&#101;s&#105;d&#101;nc&#105;&#97;d&#97;s&#117;t&#101;n' + '&#64;';
				addy9d16f4947db1e827c262c20212bb9e11 = addy9d16f4947db1e827c262c20212bb9e11 + 'r&#101;c' + '&#46;' + '&#117;tn' + '&#46;' + '&#101;d&#117;' + '&#46;' + '&#97;r';
				var addy_text9d16f4947db1e827c262c20212bb9e11 = 'pr&#101;s&#105;d&#101;nc&#105;&#97;d&#97;s&#117;t&#101;n' + '&#64;' + 'r&#101;c' + '&#46;' + '&#117;tn' + '&#46;' + '&#101;d&#117;' + '&#46;' + '&#97;r';document.getElementById('cloak9d16f4947db1e827c262c20212bb9e11').innerHTML += '<a ' + path + '\'' + prefix + ':' + addy9d16f4947db1e827c262c20212bb9e11 + '\'>'+addy_text9d16f4947db1e827c262c20212bb9e11+'<\/a>';
		</script>
    
</li>
    <li>
        Gerencia:
        
        <span id="cloak5d90672e3e0a3df803f6a356cb2d6fa9"><a href="mailto:gerenciadasuten@rec.utn.edu.ar">gerenciadasuten@rec.utn.edu.ar</a></span><script type="text/javascript">
				document.getElementById('cloak5d90672e3e0a3df803f6a356cb2d6fa9').innerHTML = '';
				var prefix = '&#109;a' + 'i&#108;' + '&#116;o';
				var path = 'hr' + 'ef' + '=';
				var addy5d90672e3e0a3df803f6a356cb2d6fa9 = 'g&#101;r&#101;nc&#105;&#97;d&#97;s&#117;t&#101;n' + '&#64;';
				addy5d90672e3e0a3df803f6a356cb2d6fa9 = addy5d90672e3e0a3df803f6a356cb2d6fa9 + 'r&#101;c' + '&#46;' + '&#117;tn' + '&#46;' + '&#101;d&#117;' + '&#46;' + '&#97;r';
				var addy_text5d90672e3e0a3df803f6a356cb2d6fa9 = 'g&#101;r&#101;nc&#105;&#97;d&#97;s&#117;t&#101;n' + '&#64;' + 'r&#101;c' + '&#46;' + '&#117;tn' + '&#46;' + '&#101;d&#117;' + '&#46;' + '&#97;r';document.getElementById('cloak5d90672e3e0a3df803f6a356cb2d6fa9').innerHTML += '<a ' + path + '\'' + prefix + ':' + addy5d90672e3e0a3df803f6a356cb2d6fa9 + '\'>'+addy_text5d90672e3e0a3df803f6a356cb2d6fa9+'<\/a>';
		</script>
    </li> 
    <li>
        Auditoría Médica:
        
        <span id="cloak7e3910ce74f72a8b45be96a456552b47"><a href="mailto:auditmedica@rec.utn.edu.ar">auditmedica@rec.utn.edu.ar</a></span><script type="text/javascript">
				document.getElementById('cloak7e3910ce74f72a8b45be96a456552b47').innerHTML = '';
				var prefix = '&#109;a' + 'i&#108;' + '&#116;o';
				var path = 'hr' + 'ef' + '=';
				var addy7e3910ce74f72a8b45be96a456552b47 = '&#97;&#117;d&#105;tm&#101;d&#105;c&#97;' + '&#64;';
				addy7e3910ce74f72a8b45be96a456552b47 = addy7e3910ce74f72a8b45be96a456552b47 + 'r&#101;c' + '&#46;' + '&#117;tn' + '&#46;' + '&#101;d&#117;' + '&#46;' + '&#97;r';
				var addy_text7e3910ce74f72a8b45be96a456552b47 = '&#97;&#117;d&#105;tm&#101;d&#105;c&#97;' + '&#64;' + 'r&#101;c' + '&#46;' + '&#117;tn' + '&#46;' + '&#101;d&#117;' + '&#46;' + '&#97;r';document.getElementById('cloak7e3910ce74f72a8b45be96a456552b47').innerHTML += '<a ' + path + '\'' + prefix + ':' + addy7e3910ce74f72a8b45be96a456552b47 + '\'>'+addy_text7e3910ce74f72a8b45be96a456552b47+'<\/a>';
		</script>
        <br>
        <span id="cloak4da5af10641aaa66aadf6b463c906d67"><a href="mailto:ccot@rec.utn.edu.ar">ccot@rec.utn.edu.ar</a></span><script type="text/javascript">
				document.getElementById('cloak4da5af10641aaa66aadf6b463c906d67').innerHTML = '';
				var prefix = '&#109;a' + 'i&#108;' + '&#116;o';
				var path = 'hr' + 'ef' + '=';
				var addy4da5af10641aaa66aadf6b463c906d67 = 'cc&#111;t' + '&#64;';
				addy4da5af10641aaa66aadf6b463c906d67 = addy4da5af10641aaa66aadf6b463c906d67 + 'r&#101;c' + '&#46;' + '&#117;tn' + '&#46;' + '&#101;d&#117;' + '&#46;' + '&#97;r';
				var addy_text4da5af10641aaa66aadf6b463c906d67 = 'cc&#111;t' + '&#64;' + 'r&#101;c' + '&#46;' + '&#117;tn' + '&#46;' + '&#101;d&#117;' + '&#46;' + '&#97;r';document.getElementById('cloak4da5af10641aaa66aadf6b463c906d67').innerHTML += '<a ' + path + '\'' + prefix + ':' + addy4da5af10641aaa66aadf6b463c906d67 + '\'>'+addy_text4da5af10641aaa66aadf6b463c906d67+'<\/a>';
		</script>
        
    </li>
</ul>
</div>
</div>