<body>
  <div class="container">
    <p>
      Por esta aplicación Ud. podra tramitar sus ordenes médicas para autorizar
    </p>
    <a href="/login" class="text-center fw-bold">Ingrese con usuario</a>
  
    <a href="/contacto" class="text-center fw-bold">Contacto</a>
    <img width="95%" height="95%"src="image\DASUTEN1-e1472492563560.jpg" alt="Imagen Oficina FRBA" />
  </div>
</body>