<body>
  <div class="container">
    <p>
      (Por esta aplicación Ud. podra tramitar sus ordenes médicas para autorizar)   </p>
   
  
   
    <img width="95%" height="75%"src="image\DASUTEN1-e1472492563560.jpg" alt="Imagen Oficina FRBA" />
  </div>
</body>