<div class="container">
  <div class="row justify-content-center mt-5">
    <div class="col-20 ">
      <h3>No tiene autorización de acceso.</h3>
      <div class="d-flex justify-content-center mt-4">
        <a href="/" class="btn btn-warning">volver al inicio</a>
      </div>
    </div>
  </div>
</div>